spring:
  application:
    name: job-service

      # RabbitMQ Configuration
    rabbitmq:
      host: localhost
      port: 5672
      username: guest
      password: guest

  # H2 Database Configuration
  datasource:
    url: jdbc:h2:mem:jobdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  # JPA Configuration
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  # H2 Console
  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8082

# Eureka Client Configuration
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

# Logging
logging:
  level:
    com.jobboard.jobs: DEBUG
    org.hibernate.SQL: DEBUG